

.outer_shadow {
    box-shadow: 5px 5px 10px #6a6b6d, -5px -5px 10px #ffffff;
}

.b_shadow {
    background: #dce0e6;
    box-shadow: 10px 10px 20px #6a6b6d, -10px -10px 20px #ffffff;
}

.single_character {
    padding: 1px
}

.for_track_cursor {
    background-color: rgb(71, 71, 71);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.green_bg {
    background-color: rgb(164, 223, 164);
}

.red_bg {
    background-color: rgb(231, 136, 136);
}
